<html>

<body>
<iframe src="{{ iframe_url }}" scrolling="yes" frameborder="0" style="position: relative; height: 100%; background-size: 100%; width: 100%; resize: both;"></iframe>
<form action="/post/{{ id }}" method="POST">
        <select name="format" id="format" onchange="updateText('format')">
        <option value="Please select a format...">Please select a format...</option>
        <option value="4chan">4chan</option>
        <option value="reddit">reddit</option>
<option value="image with text">image with text</option>
    </select>

    <br />
    <textarea name="formatText" id="formatText"></textarea>
<br />
    <input type="submit"></input>
</form>
<br />
<a href="{{ reddit_url }}"> original post</a> <br />
<a href="/claim/{{ id }}">claim</a> <a href="skip/{{ id }}">skip</a>
<script type="text/javascript">

function updateText(type) { 
 var id = type+'Text';
 var format = document.getElementById(type).value;
 switch(format) {
case "4chan":
 document.getElementById(id).value = "*Image Transcription: 4chan*\n\
\n\
---\n\
\n\
**Username**, MM/DD/YYYY, hh:mm\n\
\n\
[*Description of anything that you think may be worth describing about the image itself aside from what the text says. For example, an unusual text font, background images or color, etc.*]\n\
\n\
 Plaintext.\n\
\n\
 > Greentext.\n\
\n\
---\n\
\n\
Next Post\n\
\n\
---\n\
\n\
^^I'm&#32;a&#32;human&#32;volunteer&#32;content&#32;transcriber&#32;for&#32;Reddit!&#32;[If&#32;&#32;you'd&#32;like&#32;more&#32;information&#32;on&#32;what&#32;we&#32;do&#32;and&#32;why&#32;we&#32;do&#32;it,&#32;click&#32;here!](https://www.reddit.com/r/TranscribersOfReddit/wiki/index)";
break;
case "reddit":
 document.getElementById(id).value = "testy";
break;
case "image with text":
document.getElementById(id).value="*Image Transcription:*\n\
\n\
---\n\
\n\
[*Description of anything that you think may be worth describing about the image itself aside from what the text says. For example, an unusual text font, background images or color, etc.*]\n\
\n\
Text.\n\
\n\
---\n\
\n\
^^I'm&#32;a&#32;human&#32;volunteer&#32;content&#32;transcriber&#32;for&#32;Reddit!&#32;[If&#32;&#32;you'd&#32;like&#32;more&#32;information&#32;on&#32;what&#32;we&#32;do&#32;and&#32;why&#32;we&#32;do&#32;it,&#32;click&#32;here!](https://www.reddit.com/r/TranscribersOfReddit/wiki/index)";
break;}}
</script>
</body>

</html>

